<button
  class="flex flex-row justify-between items-center hover:cursor-pointer"
  tabindex="0"
  [attr.aria-expanded]="_expand()"
  (keydown.enter)="toggleExpand()"
  (click)="onClick($event)"
>
  <h3 class="text-purple-950 hover:text-violet-600">
    {{ question() }}
  </h3>
  <img
    class="size-[24.38px]"
    [src]="
      _expand()
        ? './assets/images/icon-minus.svg'
        : './assets/images/icon-plus.svg'
    "
    width="30"
    height="31"
    [alt]="_expand() ? 'icon minus' : 'icon plus'"
  />
</button>

@if (_expand()) {
  <p class="text-purple-600">
    {{ answer() }}
  </p>
}
